@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "_variables.scss";
@import "../bower_components/neat/app/assets/stylesheets/neat";

body {
  background: #fff url('http://lib.store.yahoo.net/lib/thehumansolution/UpLift-900-Reclaimed-Wood-top.jpg') no-repeat center;
  background-size: cover;
}

body main {
  @include outer-container(100%);
  max-width: 400px;
  width: 100%;
  text-align: center;
  margin: 50px auto;
  font-family: 'Exo', sans-serif;
  // background: #393D3D;
  border-radius: 10px;
  padding: 30px;
  box-shadow:0 0 50px rgba(0, 0, 0, 0.8);
  background: none repeat scroll 0 0 #CECEBF;
  &::after {
    content: '';
    clear: both;
    display: block;
  }
}
section.hide {
  display: none;
}

div.row1 {
  @include span-columns(12);
  margin-right: 0;
  width: 100%;
  input.clearBtn {
    @include span-columns(3 of 12);
    padding: 20px 0;
    background: #565656;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 5px 2px #777;
    color: white;
    font-size: 1.5em;
    font-weight: 200;
    margin-right: 6px;
    margin-left: 2px;
    // width: 25%;/
    transition: background .3s ease, border-color .3s ease;
    &:hover {
      background: $lightGreen;
      border-color: $green;
      transition: background .3s ease, border-color .3s ease;
    }
    &:focus {
      outline: none;
    }
    &:active {
      box-shadow: inset 2px 2px 5px 1px black;
      color: #CADDA0;
      border-top-color: black;
      border-left-color: black;
    }
  }
  div.answer {
    @include span-columns(9 of 12);
    text-align: right;
    height: 75px;
    border: 5px solid black;
    box-shadow: inset 0px 5px 5px 1px;
    border-radius: 5px;
    color: #404145;
    font-size: 1.9em;
    font-weight: 500;
    padding: 20px 20px 10px 0;
    background: #CADDA0;
    // overflow: auto;
    // width: 75%;
  }
}
div.row2 {
  margin-top: 10px;
}
div.row2,
div.row3,
div.row4,
div.row5 {
  @include span-columns(12);
  margin-right: 0;
  width: 100%;
  input {
    @include span-columns(3 of 12);
    padding: 20px 0;
    background: #252525;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 5px 2px #777;
    color: white;
    font-size: 1.5em;
    font-weight: 200;
    margin: 5px 3px;
    // width: 25%;
    transition: background .3s ease, box-shadow 1s ease;
    &:hover {
      background: opacify(grey, .5);
      transition: background .3s ease;
      border-color: #565656;
    }
    &:focus {
      outline: none;
      // box-shadow: inset 2px 2px 5px 1px black;
    }
    &:active {
      box-shadow: inset 2px 2px 5px 1px black;
      color: #393D3D;
    }
  }
  input.equalBtn {
    background: #FFB023;
    border-color: #FF9003;
    transition: background .3s ease, color .3s ease;
    &:hover{
      background: #FF9003;
      transition: background .3s ease, color .3s ease;
    }
    &:focus {
      box-shadow: inset 2px 2px 5px 1px black;
      border-top-color: black;
      border-left-color: black;
      color: #393D3D;
    }
  }
}

#divideBtn,
#multBtn,
#addBtn,
#subtBtn {
  color: white;
  background: #FF516A;
  transition: color 0s;
  transition: background .3s ease;
  border-color:#EE415A;
  &:hover {
    background: opacify(#FF015A, .5);
    transition: background .3s ease;
  }
  &:active {
    color: #393D3D;
    transition: color 0s;
    border-top-color: black;
    border-left-color: black;
  }
}
